.partOfSpeech {
  color: rgb(255, 0, 102);
}
.meaning {
  text-align: left;
  margin-left: 30px;
}
.meanings {
  margin-left: 80px;
}
.synonyms {
  text-align: left;
  margin-left: 30px;
}
.sss {
  margin-bottom: 20px;
  margin-left: 30px;
}
.ssb {
  margin-left: 50px;
}
